* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
header{
    width: 100%;
    padding: 20px 40px;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
}
.welcome-area {
    width: 100%;
    height: 100vh;
    min-height: 793px;
    background-image: url(../media/banner-bg.png);
    background-repeat: no-repeat;
    background-position: right top;
}
.navbar{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
    background-color: white;
    width: 100%;
}
  .logo {
    padding-left: 150px;
    font-size: 28px;
    font-weight: 800;
    letter-spacing: 2px;
    color: #111;
    display: flex;
    justify-content:center;
    align-items:center;

}
.nav-links {
    position:relative;
    list-style: none;
    display: none;
    justify-content:center;
    align-items: center;
    gap: 25px;
}
.nav-links a {
    text-decoration: none;
    color: #555;
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
}
.nav-links .active {
    color: #ff9900;
}
.dropdown {
    position: relative;
}
.dropdown-menu {
    position: absolute;
    top: 30px;
    left: 0;
    background: white;
    padding: 10px 0;
    list-style: none;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    display: none;
}
.dropdown-menu li {
    padding: 8px 20px;
}

.dropdown-menu a {
    color: #555;
}
.dropdown:hover .dropdown-menu {
    display: block;
}

h1 {
    font-family: sans-serif;
    font-size: 52px;
    font-weight: 900;
    line-height: 1.5;
}
h1 em {
    font-style: normal;
    color: #f4813f;
}
.welcome-area .header-text p {
    font-weight: 300;
    font-size: 15px;
    color: #7a7a7a;
    line-height: 30px;
    letter-spacing: 0.25px;
    padding: 30px 7px;
    /* margin: 15px; */
    margin-bottom: 25px;
    line-height: 25px;

}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
.header-text {
    padding-top: 30px;
    margin-top:5px;
    color: #333;   
}
.btn{
    font-size: 14px;
    border-radius: 25px;
    padding: 15px 25px;
    background-color: #fba70b;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    padding: 15px;
    box-sizing: border-box;
}
.left-text{
    padding: 0 15px;
} 
.menu-trigger{
    cursor: pointer;
    display: block;
    top: 23px;
    right: 40px;
    display: none;
    color: #111;
}
@media (max-width: 932px) 
{
    .menu-trigger {
        display: block;
    }
    .welcome-area .header-text {
        padding-top: 100%;
        margin: 5%
    }
    header{
        padding: 0;
    }

    header.menu-trigger {
    display: block;
    }
}
    .welcome-area {
        background-size: contain;
    }
/* about section */
.about-div{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.features-item {

    border-radius: 5px;
    padding: 20px;
    text-align: center;
    gap: 80px;
    width: 100%;
}
.features-icon{
    position: relative;
    /* width: 390px; */
    padding: 60px 30px;
    background: white;
    text-align: center;
    border-radius: 12px;
    margin-top: 30px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.06);
}
.features-item h2 {
    z-index: 9;
    position: absolute;
    top: 15px;
    font-size: 100px;
    font-weight:800px;
    color: #fdefe9;
    padding: 10px;
}
.features-icon .para{
    padding: 30px;
}
.features-item img {
    z-index: 10;
    position: relative;
    max-width: 100%;
    margin-bottom: 40px;
}
.number{
    display: block;
    font-size: 2rem;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    padding: 10px;
}
.main-button{
    font-size: 14px;
    border-radius: 25px;
    padding: 15px 25px;
    background-color: #f4813f;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all 0.3s ease 0s;
}
.left-img-decor {
    background-image: url(../media/left-bg-decor.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    display: inline-block;
    height: 110%;
    margin-top: -80px;
}
.right-image-decor {
    background-image: url(../media/right-bg-decor.png);
    background-repeat: no-repeat;
    background-position: right center;
    position: absolute;
    width: 100%;
    display: inline-block;
    height: 110%;
    margin-top: -200px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  position: relative;
  width: 100%;
  /* padding-right:70px;
  padding-left:70px; */
  height: 80vh;
  /* overflow-x: hidden; */
}
.img-fluid {
    width: 100%;
    height: auto;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  /* width: 55%; */
  position: relative;
  width: 100%;
  /* padding-right: 15px; */
  padding-left: 15px;
}
.feature {
  display: flex;
  padding: 30px;
  border-radius: 10px;
}

.feature .text h3 {
  width: 100%;
  margin: 30px;
  font-size: 22px;
  color: #1e1e1e;
  margin-bottom: 15px;
  margin-top: 30px;
}

.feature p {
  font-size: 15px;
  color: #666;
  line-height: 25px;
  padding: 20px;
}

.icon-text{
    padding-left: 10px;
    margin:auto;
}
a {
  color: #ff6f61;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
/* testimonial section */
.two-divs{
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading {
    margin-top: 130px;
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    color: #1e1e1e;
    margin-bottom: 25px;
}
.lead{
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    width: 90%;
    margin: auto;
    text-align: center;
    padding-bottom: 80px;
    color: #888;

}
#testimonials .author img {
    max-width: 120px;
    /* margin-bottom: -60px; */
}
.owl-carousel .owl-item img {
    /* display: block; */
    position: relative;
    width: 100%;
    padding: 40px 30px;
    border-radius: 20px;
}
img {

    vertical-align:top;
    border-style: none;
    /* max-width: 120px;
    margin-bottom: -60px; */

}
.author img {
    max-width: 120px;
    margin-bottom: -60px;
}
.phone img{
     width: 100%; 
    vertical-align: middle;
    border-style: none;
    padding-top: 30px;
}
element.style {
    width: 445px;
    margin-right: 30px;
}
.testimonial-content{
     background: rgb(244, 129, 63);
    background: linear-gradient(145deg, rgba(244, 129, 63, 1) 0%, rgba(241, 85, 106, 1) 100%);
    text-align: center;
    color: white;

}

.testimonial-content {
    margin: 0px 0px 0px 60px;
    padding: 40px 30px;
    margin-bottom: 90px;
    color: white;
}

/* footer part */

.main{
    width: 50%;
}
footer {
    /* margin-top: 200px;
    padding-top: 120px; */
    background-image: url(../media/footer-bg.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    display: block;
    unicode-bidi: isolate;
    width: 100%;
}
footer .footer-content {
    padding-top: 120px;
    text-align: center;
}
.footer-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    /* display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 37px; */
}
.footer-content .right-content {
    color: #fff;
}
footer .right-content {
    align-self: center;
}
.right-content{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
}
.contact-form {
    position: relative;
    z-index: 10;
    padding: 45px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.contact-form input, .contact-form textarea {
    color: #777;
    font-size: 13px;
    border: 1px solid #eee;
    background-color: #f7f7f7;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    outline: none;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-bottom: 30px;
}
/* .contact-form textarea {
    height: 150px;
    resize: none;
    padding: 20px;
} */
textarea {
    overflow: auto;
    resize: vertical;
}
fieldset .two{
    display: flex;
    justify-content: center;
    align-items: center;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button.main-button {
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 25px;
    padding: 15px 25px;
    background-color: #f4813f;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
}
fieldset {
    display: block;
    min-inline-size: min-content;
    margin-inline: 2px;
    border-width: 2px;
    padding-block: 0.35em 0.625em;
    border: 0;
}
.contact-form {
    text-align: center;
}
.contact-form textarea {
    height: 150px;
    resize: none;
    padding: 30px;
}
textarea {
    overflow: auto;
    resize: vertical;
}
p {
    font-size: 15px;
    line-height: 25px;
    color: white;
}
.footer-content .right-content{
    position: relative;
    width: 100%;
    padding-right: 25px;
    padding-left: 30px;
}
.footer-content .right-content h2 {
    margin-top: 0px;
    margin-bottom: 70px;
    font-size: 36px;
    text-transform: capitalize;
    font-weight: 700;
    letter-spacing: 1px;
}
footer .social{
    margin-top: 30px;
}

ul {
    margin-bottom: 0px;
}
footer .social li:first-child {
    margin-left: 0px;
}
footer .social li {
    margin: 0px 7.5px;
    display: inline-block;
    color: white;
}
ul, li {
    color: white;
    padding: 0;
    margin: 0;
    list-style: none;
}
.footer-content .right-content h2 em {
    font-style: normal;
    color: #fba70b;
}
.footer-content .right-content p {
    color: #FFF;
}
.main{
    /* display: flex;
    justify-content: center;
    align-items: center;
    position: relative; */
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
/* #message{
    width: 450px;
} */
.footer-content .right-content h2 {
    margin-top: 30px;
    margin-bottom: 70px;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
    letter-spacing: 1px;
}
.footer-content .right-content a {
    color: #FFF;
}
footer .social li a {
    color: #fff;
    text-align: center;
    background-color: transparent;
    border: 1px solid #fff;
    width: 44px;
    height: 44px;
    line-height: 44px;
    border-radius: 50%;
    display: inline-block;
    font-size: 16px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
footer .sub-footer p {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.5px;
}

footer .sub-footer {
    padding: 90px 0px;
    border-top: 1px solid rgba(250, 250, 250, 0.3);
    text-align: center;
}
p {
    font-size: 15px;
    line-height: 25px;
    color: #888;
}
.sub{
    position: relative;
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
}
.contact form .row{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
/* responsiveness */

